* {
    margin: 0;
    border: border-box;
    font-family: "Inter", sans-serif;
}


* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


/* navbar-main styling */
.navbar-main {
    height: 64px;
    width: 100vw;
    background-color: #09090B;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-lummi-logo {
    height: 63px;
    width: 80px;
    margin-top: 4px;
    margin-right: 8px;
    background-image: url("assets/lummi_logo.png");
    background-size: cover;
    cursor: pointer;
}

.nav-options {
    height: 63px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4.8px;
    margin-left: 10px;
}

.nav-photos {
    height: 28px;
    width: 50px;
    color: #FAFAFA;
    font-weight: 500;
    font-size: 0.999rem;
    cursor: pointer;
    border: 1px solid #09090B;
    border-bottom-color: #FAFAFA;
    margin-right: 45px;
}

.nav-ill {
    height: 28px;
    width: 50px;
    color: #A1A1AA;
    font-weight: 500;
    font-size: 0.999rem;
    margin-right: 70px;
}

.nav-ill:hover {
    cursor: pointer;
    color: #FAFAFA;
    transition: color 0.15s linear;
}

.nav-3d {
    height: 28px;
    width: 50px;
    color: #A1A1AA;
    font-weight: 500;
    font-size: 0.999rem;
}

.nav-3d:hover {
    cursor: pointer;
    color: #FAFAFA;
    transition: color 0.15s linear;
}

.nav-search {
    height: 48px;
    width: 857px;
    /* margin-top: 4.9px; */
    background-color: #09090B;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 24px;
    display: flex;
    align-items: center;
}

.outer-search-button {
    height: 45px;
    width: 100px;
    background-color: #27272A;
    border-radius: 22.5px;
    display: flex;
    align-items: center;
    margin-left: 1.9px;

}

.search-button {
    height: 40px;
    width: 40px;
    background-color: #09090B;
    color: #FAFAFA;
    border-radius: 50%;
    border: none;
    margin-left: 3px;
    cursor: pointer;
}

.pallete-button {
    height: 40px;
    width: 40px;
    background-color: #27272A;
    color: #A1A1AA;
    border-radius: 50%;
    border: none;
    margin-left: 13px;
}

.pallete-button:hover {
    color: #FAFAFA;
    transition: all 0.15s linear;
    cursor: pointer;
}

.search-input {
    height: 40px;
    width: 740px;
    border: none;
    border-radius: 20px;
    background-color: #09090B;
    margin-left: 5px;
    color: #FAFAFA;
}

.search-input:active {
    border: none;
}

.try-pro {
    height: 40px;
    width: 134px;
    display: flex;
    justify-content: center;
}

.pro-button {
    height: 40px;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.875rem;
    font-weight: 700;
    color: #FAFAFA;
    background-color: #27272A;
    border-radius: 5px;
    border: none;
}

.pro-button:hover {
    background-color: #404043;
    cursor: pointer;
    transition: all 0.15s linear;
}

.log-in {
    height: 40px;
    width: 59px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.log-in-button {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #09090B;
    color: #FAFAFA;
    border: none;
    border-radius: 5px;
    font-size: 0.875rem;
    font-weight: 700;
    cursor: pointer;
}

.menu-button {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FAFAFA;
    background-color: #09090B;
    border: none;
    border-radius: 5px;
}

.menu-button:hover {
    background-color: #404043;
    cursor: pointer;
    transition: all 0.15s linear;
}


/* secondary-navbar */
.nav-sec {
    height: 200px;
    width: 100vw;
    background-color: #09090B;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header1 {
    height: 113px;
    width: 100vw;
    color: #FAFAFA;
    font-size: 4.8vw;
    margin-bottom: 59px;
    margin-left: 16px;
}

.mini-header {
    height: 28px;
    width: 100vw;
    font-size: 1.25rem;
    color: #FAFAFA;
    display: flex;
    align-items: center;
    margin-left: 19px;
}

.nav-items {
    height: 75px;
    width: 100vw;
    background-color: #09090B;
    display: flex;
    align-items: center;
}

.tool-b {
    height: 38px;
    width: 65px;
    background-color: #09090B;
    color: #FAFAFA;
    border: none;
    border-radius: 5px;
    margin-right: 7px;
    margin-left: 2px;
}

.reframe-b {
    height: 38px;
    width: 80px;
    background-color: #09090B;
    color: #FAFAFA;
    border: none;
    border-radius: 5px;
    margin-right: 7px;
}

.restyle-b {
    height: 38px;
    width: 70px;
    background-color: #09090B;
    color: #FAFAFA;
    border: none;
    border-radius: 5px;
    margin-right: 7px;
}

.bg-removal-b {
    height: 38px;
    width: 180px;
    background-color: #09090B;
    color: #FAFAFA;
    border: none;
    border-radius: 5px;
    margin-right: 1080px;
}

.daily-pick-b {
    height: 38px;
    width: 100px;
    background-color: #09090B;
    color: #FAFAFA;
    border: none;
    border-radius: 5px;
    margin-right: 7px;
}

.hover-item:hover {
    background-color: #27272A;
    transition: all 0.15s linear;
    cursor: pointer;
}

.main-section {
    height: 1220px;
    width: 100vw;
    background-color: #09090B;
    display: flex;
}

.col-1 {
    height: 1030px;
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.col-2 {
    height: 910px;
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.col-3 {
    height: 1220px;
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.col-4 {
    height: 880px;
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.img1 {
    height: 600px;
    width: 370px;
    background-image: url("assets/img1.png");
    background-size: cover;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.img3 {
    height: 400px;
    width: 370px;
    background-image: url("assets/img3.png");
    background-size: cover;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.img2 {
    height: 480px;
    width: 370px;
    background-image: url("assets/img2.png");
    background-size: cover;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.img6 {
    height: 400px;
    width: 370px;
    background-image: url("assets/img6.png");
    background-size: cover;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.img7 {
    height: 600px;
    width: 370px;
    background-image: url("assets/img7.png");
    background-size: cover;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.img4 {
    height: 600px;
    width: 370px;
    background-image: url("assets/img4.png");
    background-size: cover;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}  

.img5 {
    height: 400px;
    width: 370px;
    background-image: url("assets/img5.png");
    background-size: cover;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.img8 {
    height: 450px;
    width: 370px;
    background-image: url("assets/img8.png");
    background-size: cover;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

/* footer */
.foot-one {
    height: 90px;
    width: 100vw;
    background-color: #09090B;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-footer {
    height: 22px;
    width: 22px;
    border: 4px solid #404043;
    border-radius: 50%;
    border-top-color: #FAFAFA;
    animation: loading 1.6s ease-in 0.4s infinite;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}